In [1]:
import numpy as np
import pandas as pd

In [2]:
from pathlib import Path

In [3]:
DATA_DIR = "data/01_raw/sample.csv"

In [4]:
Path(DATA_DIR).mkdir(exist_ok=True, parents=True)

In [5]:
Path(DATA_DIR).mkdir(exist_ok=True, parents=True)
Path(DATA_DIR).mkdir(exist_ok=True, parents=True)

In [7]:
df = pd.DataFrame({
    "a" : range(10),
    "b" : range(10)
})

In [11]:
df.to_csv(Path(DATA_DIR) / "sample.csv")

In [12]:
del df

In [13]:
df = pd.read_csv(Path(DATA_DIR) / "sample.csv")

In [14]:
df.head(3)

   Unnamed: 0  a  b
0           0  0  0
1           1  1  1
2           2  2  2

In [16]:
df["a"].value_counts()

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: a, dtype: int64

In [17]:
df["a"].value_counts()

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: a, dtype: int64